*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 300px;
    height: 300px;
    position: absolute;
    margin: 35px;    
}
.square{
    height: 94%;
    width: 94%;
    background: rgb(1, 28, 74);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -47%;
    border-radius: 20%;
}
.blue{
    background: rgb(96, 136, 216);
    animation: rotate 10s linear infinite;
    
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}